body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url(../images/background.jpg);
  padding-right: 15%;
  padding-left: 15%;
}
.h1 {
  font-size: clamp(40px,10vw,72px);
  line-height: 100%;
  text-align: center;
  font-weight: 400;
  padding-top: 35vh;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: white;
}
.whiteSpace {
  white-space: nowrap;
  position:absolute;
  bottom:0;
  width:70%;
}
.handling {
  display: inline-block;
  width: 50%;
}
.propLeft {
  display: inline-block;
  color: white;
}
.email{
  display: inline-block;
  color: white;
  padding-left: 3px;
}
.email:hover{
  text-decoration: underline;
  cursor: pointer;
}
.propRight {
  display: inline-block;
  width: 50%;
  text-align: end;
  color: white;
}
@media screen and (max-width: 800px) {
 .propRight {
   display: none;
 }
 .handling {
   width: 100%;
   text-align: center;
 }
}