@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Montserrat&display=swap');

body {
  font-family: 'Archivo', sans-serif;
  background-color: white;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 120% 120%;
  padding-left: 15vw;
  padding-right: 15vw;
}
* {
  box-sizing: border-box;
}
.h1 {
  font-size: clamp(24px,10vw,54px);
  text-align: center;
  font-weight: lighter;
  padding-top: 32vh;
  text-align: center;
  color: white;
}
.header {
  content: url(../images/full\ logo.svg);
  padding-top: 40px;
  height: 75px;
  display: none;
}
.footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  padding-top: 18vw;
}
.divider {
  flex-grow: 1;
  display: inline-block;
}
.textRightAlign {
  text-align: right;
}
.textLeftAlign {
  text-align: left;
}
.contactUs {
  display: inline-block;
}
.email{
  display: inline-block;
  padding-left: 3px;
  color: white;
  text-decoration: none;
}
.email:hover{
  text-decoration: underline;
  cursor: pointer;
}
.none {
  display: none;
}
@media (max-width: 800px) {
  .divider {
    flex: 100%;
    padding-top: 0vh;
  }
  .header {
    width: 100%;
    text-align: center;
  }
  .h1 {
    padding-top: 18vh;
    padding-bottom: 18vh;
  }
  .footer {
    text-align: center;
  }
  .textRightAlign {
    width: 100%;
    text-align: center;
  }
  .textLeftAlign {
    width: 100%;
    text-align: center;
  }
}